<div class="flex flex-wrap mx-6 sm:mx-12 my-8">
  <% @partners.each do |partner| %>
    <%= render 'partner_panel', 
          partner: partner,
          backgroundColor: backgroundColor %>
  <%end%>
</div>
<div class=" hidden w-screen h-screen fixed top-0 left-0 bg-gray-500 opacity-95  justify-center">
  <div class="bg-white w-96 h-52 self-center ">
    <h3 id="partner_name" class="text-lg font-bold">Artist Name</h3>
    <p id="partner_bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa.</p>
    <div class="flex"></div>
  </div>
</div>
