<div class="flex flex-wrap mx-6 sm:mx-12 my-8">
  <% @partners.each do |partner| %>
    <%= render 'partner_panel', 
          partner: partner,
          backgroundColor: backgroundColor %>
  <%end%>
</div>
