<a href="<%= destination %>" class=" 
    <%=class_names(backgroundColor, "partners-index-panel")%>">
  <div class="self-end text-white ml-10 mb-8">
    <h3 class="text-3xl mb-4"><%= title %> </h3>
    <button class=" border-4 border-teal-lightest w-32 py-1 text-sm">VIEW ALL</button>
  </div>
</a>
