<%= render 'shared/navbar', page: "partners"%>
<div class="mx-6 sm:mx-12">
  <div class="flex flex-col sm:flex-row justify-between w-full max-h-96 mt-12">
    <%= render 'index_panel',
      destination: musicians_path,
      title: 'Musicians',
      backgroundColor: 'bg-red-300' %>
    <%= render 'index_panel',
      destination: vendors_path,
      title: 'Food Vendors',
      backgroundColor: 'bg-blue-300' %>
  </div>
  <div class="sm:w-2/3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis justo nisl. Sed risus massa, volutpat sed nunc ac, sagittis hendrerit tellus. Vestibulum molestie purus vel justo fermentum sollicitudin. Duis blandit sed arcu non iaculis. 
  </div>
</div>
