<% content_for :meta_tags do %>
  <title>Food Vendors</title>
  <meta name="description" content="Caterers and food vendors that you can book for your private event.">
<% end %>
<%= render 'shared/navbar', page: "vendors" %>
<%= render 'feed', backgroundColor: 'bg-blue-300'  %>
