<%# Let's Connect %>
<div class="bg-blue-400 flex flex-col md:flex-row text-white">
  <div class="md:w-1/2 flex justify-center md:ml-16 my-3 md:my-16">
    <div class="md:w-80">
      <p class="text-4xl sm:text-7xl font-bold my-6">Let's Connect</p>
      <div class="flex">
        <p>email@pentridgestation.com</p>
      </div>
      <div class="flex">
        <p>(215) 123-1234</p>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 flex justify-center md:justify-start">
    <div class="bg-blue-200 h-64 w-5/6 mb-6 md:mt-16">
      <%= render 'messages/form' %>
    </div>
  </div>
</div>
