<div class="grid grid-cols-1 md:grid-cols-2 my-8 mx-3 sm:mx-16 gap-6">
  <%= render 'pages/home/grid/text' %>
  <%= render 'pages/home/grid/photo' %>
  <%= render 'pages/home/grid/action',
            photo: :gridThreePhoto, 
            title: get_text_content(:gridThreeShortTitle, 'SHORT TITLE'),
            subtitle: get_text_content(:gridThreeLongTitle, 'A long title for grid three event booking'),
            actionText: get_text_content(:gridThreeActionText, 'BOOKING ACTION!'),
            actionLink: "/book" %>
  <%= render 'pages/home/grid/action',
            photo: :gridFourPhoto,
            title: get_text_content(:gridFourShortTitle, 'SHORT TITLE'),
            subtitle: get_text_content(:gridFourLongTitle, 'A long title for grid four partners'),
            actionText: get_text_content(:gridFourActionText, 'PARTNER ACTION!'),
            actionLink: "/calendar"%>
</div>
