<div class="grid grid-cols-1 md:grid-cols-2 my-8 mx-3 sm:mx-16 gap-6">
  <%= render 'pages/home/grid/text' %>
  <%= render 'pages/home/grid/photo' %>
  <%= render 'pages/home/grid/action',
            photo: cms_fragment_render(:titlePhoto, Comfy::Cms::Page.find_by_full_path('/home')), 
            title: "RENT SPACE",
            subtitle: "An outdoor space for any occasion",
            actionText: "BOOK NOW!",
            actionLink: "/book" %>
  <%= render 'pages/home/grid/action',
            photo: cms_fragment_render(:titlePhoto, Comfy::Cms::Page.find_by_full_path('/home')), 
            title: "PARTNERSHIP",
            subtitle: "Become a Pentridge vendor or Artist",
            actionText: "LEARN MORE!",
            actionLink: "/partners"%>
</div>
