<div id="popup_partner_screen" class="z-50 w-screen h-screen fixed top-0 left-0 bg-gray-500 opacity-95  justify-center">
  <div id="popup_partner_container" class="bg-white sm:w-96 self-center p-8 ">
    <div class="flex relative">
      <%= inline_svg_tag "left-chevron.svg",
                      class:'w-5 pr-3 cursor-pointer bg-popup-gray mt-1',
                      id: 'left_chevron' %>
      <h3 id="popup_partner_name" class="text-xl font-semibold mb-2">
      <%= popup.title %>
      </h3>
    </div>
    <p id="popup_partner_bio" class="font-light mb-6">
        <%= popup.body %>
    </p>

  </div>
</div>
