<%# Quote Panel %>
<div class="relative flex flex-col md:flex-row">
  <div class="md:w-1/2 h-56 md:h-auto bg-teal-lighter flex justify-center">
    <%= inline_svg_tag "quote.svg", class: 'stroke-current z-10 fill-current text-teal-lightest opacity-60 absolute left-8 md:left-12 lg:left-24 w-36 h-36 top-1 md:top-16 ' %>
    <div id="quote-cut-corner-medium" class="hidden md:block  absolute left-0 bottom-0 w-1/3 h-1/2 bg-gradient-to-r from-teal-lightest to-teal-lighter z-0"></div>
    <div id="quote-cut-corner-small" class="md:hidden  absolute right-0 top-12 w-full h-32  bg-gradient-to-b from-teal-lightest to-teal-lighter z-0"></div>
    <div class=" w-96 mt-10 md:my-32 mx-4 z-20">
      <div class="text-white text-3xl sm:text-4xl my-4 ">
        <%=get_text_content(:quote, 'Put a great quote here to build trust in your brand.')%>
      </div>
      <p class="text-white mt-2 left-16">- <%=get_text_content(:quoteAuthor, 'Quote Author')%></p>
    </div>
  </div>
  <div class="h-60 md:h-auto md:w-1/2 bg-center bg-cover" style=  "background-image: url(<%= get_photo_url(:quotePhoto)%>)">
    <div class="w-full md:w-1/2 h-12 md:h-full bg-gradient-to-b md:bg-gradient-to-r from-teal-lighter to-transparent">
    </div>
    <div class="bg-gradient-to-t from-teal-lighter to-transparent w-full mt-44 md:hidden h-4"></div>
  </div>
</div>
