<%# Quote Panel %>
<% titlePhoto = cms_fragment_render(:titlePhoto, Comfy::Cms::Page.find_by_full_path('/home')) %>
<div class="flex flex-col md:flex-row">
  <div class="md:w-1/2 bg-blue-400 flex justify-center">
    <div class=" w-96 mt-10 md:my-32 mx-4">
      <p class="font-black text-7xl text-white absolute left-24">"</p>
      <p class="text-white text-3xl sm:text-4xl my-4 ">Pentridge is the hidden gem of West Philly. Fun for the whole family.</p>
      <p class="text-white mt-2 left-16">- Julian DeGroot-Lutzner</p>
    </div>
  </div>
  <div class="h-60 md:h-auto md:w-1/2 bg-center bg-cover" style="background-image: url(<%= titlePhoto %>)" >
    <div class="w-full md:w-1/2 h-12 md:h-full bg-gradient-to-b md:bg-gradient-to-r from-blue-400 ">
    </div>
    <div class="bg-gradient-to-t from-blue-400 w-full mt-44 md:hidden h-4"></div>
  </div>
</div>
