<%# Quote Panel %>
<div class="flex flex-col md:flex-row">
  <div class="md:w-1/2 bg-blue-400 flex justify-center">
    <div class=" w-96 my-32">
      <p class="font-black text-7xl text-white absolute left-24">"</p>
      <p class="text-white text-4xl my-4">Pentridge is the hidden gem of West Philly. Fun for the whole family.</p>
      <p class="text-white mt-2 left-16">- Julian DeGroot-Lutzner</p>
    </div>
  </div>
  <div class=" md:w-1/2">
    <%# <%= image_tag %> %>
  </div>
</div>
