<%# School Bus Section %>
<div class="mt-16 text-white ">
  <div class="z-10 bg-opacity-80 hover:bg-opacity-100 sm:opacity-100 bg-blue-400 w-80 md:w-1/2 absolute right-2 md:right-20 mt-64 ">
    <div class="p-16">
      <p class="font-bold">
        RESERVE A TABLE
      </p>
      <p class="text-3xl mt-2 md:text-4xl">
        An <span class="font-bold"> unforgettable dinner experience</span> in a school bus
      </p>
      <button class="bg-white text-blue-400 hover:bg-blue-600 hover:text-white mt-6 text-xs w-36 py-2">
        LEARN MORE
      </button>
    </div>
  </div>
  <div id="bus-photo"
  class="z-0 bg-blue-300 ml-3 md:ml-24 w-2/3 md:w-1/2 h-80 py-96 bg-center bg-cover" 
  style=  "background-image: url(<%= get_photo_url(:titlePhoto)%>)" >
  </div>
</div>
