<h4 class="font-bold my-4 text-xl">About the Space</h4>
<p class="text-lg">
  <%= get_text_content(:aboutBlurb,
  "This is the about blurb, consectetur 
  adipiscing elit, sed do eiusmod tempor incididunt ut labore 
  et dolore magna aliqua. Pellentesque id nibh tortor id aliquet.
  Felis eget nunc lobortis mattis aliquam faucibus. Feugiat nibh
  sed pulvinar proin. Justo nec ultrices dui sapien eget mi 
  proin sed libero.Mi ipsum faucibus vitae aliquet nec 
  ullamcorper sit amet. Quis hendrerit dolor magna eget est 
  lorem ipsum dolor sit. Iaculis nunc sed augue lacus. Faucibus 
  nisl tincidunt eget nullam non nisi est sit amet.")%></p>
