<div class="flex w-32 mr-5 my-2 justify-between">
  <div class="w-5"><%= inline_svg_tag svg_name,
            class: className,
            title: attribution %>
  </div>
  <p class="w-24"><%= name %></p>
</div>
