<div class="my-4">
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Cleaning Protocol
      <%= inline_svg_tag "broom.svg", class:'w-5 ml-2' %>
    </summary>
    <p class="ml-10 mt-4">Another message in here that explains the details of the description above this!
    </p>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg " >
      Parking
      <%= inline_svg_tag "parking.svg", class:'w-5 ml-2' %>
    </summary>
    <p class="ml-10 mt-4">Another message in here !
    </p>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Host Rules
      <%= inline_svg_tag "rules.svg", class:'w-5 ml-2' %>
    </summary>
    <p class="ml-10 mt-4">Another message in here !
    </p>
  </details>
</div>
