<h4 class="font-bold my-8 text-xl">Hear from Guests</h4>
<div class="flex flex-wrap justify-between items-center">
  <%= render 'events/details/testimonial',
            photo: :testimonialOnePhoto,
            name: :testimonialOneName,
            description: :testimonialOneDescription,
            quote: :testimonialOneQuote %>
  <%= render 'events/details/testimonial',
            photo: :testimonialTwoPhoto,
            name: :testimonialTwoName,
            description: :testimonialTwoDescription,
            quote: :testimonialTwoQuote %>
  <%= render 'events/details/testimonial',
            photo: :testimonialThreePhoto,
            name: :testimonialThreeName,
            description: :testimonialThreeDescription,
            quote: :testimonialThreeQuote %>
  <%= render 'events/details/testimonial',
            photo: :testimonialFourPhoto,
            name: :testimonialFourName,
            description: :testimonialFourDescription,
            quote: :testimonialFourQuote %>
</div>
<%# <button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button> %>
