<h4 class="font-bold my-8 text-xl">Hear from Guests</h4>
<div class="flex flex-wrap justify-between items-center">
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
</div>
<button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button>
