<h4 class="font-bold my-8 text-xl">Hear from Guests</h4>
<div class="flex flex-wrap justify-between items-center">
  <%= render 'events/details/testimonial',
            photo: :nothing,
            name: 'Jim',
            description: 'Party for 32',
            quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet.'%>
  <%= render 'events/details/testimonial',
            photo: :nothing,
            name: 'Jim',
            description: 'Party for 32',
            quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet.'%>
  <%= render 'events/details/testimonial',
            photo: :nothing,
            name: 'Jim',
            description: 'Party for 32',
            quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet.'%>
  <%= render 'events/details/testimonial',
            photo: :nothing,
            name: 'Jim',
            description: 'Party for 32',
            quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet.'%>
</div>
<%# <button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button> %>
