<% titlePhoto = cms_fragment_render(:titlePhoto, Comfy::Cms::Page.find_by_full_path('/home')) %>
<header class="bg-fixed bg-center h-96" style="background-image: url(<%= titlePhoto %>)">
  <div class="">
    <div class=" flex flex-row justify-between pt-6 mx-10 ">
      <div class=""> Pentridge Station Logo</div>
      <nav class="">
        <%#  
      <a href="" class="nav-item"> HOME </a>
      <a href="" class="nav-item"> ABOUT </a>
      <a href="" class="nav-item"> CONTACT </a>
      <a href="" class="nav-item"> PRESS </a>
      <a href="" class="nav-item"> PARTNERS </a>
      <a href="" class="nav-item"> %>
        <%= link_to 'RENT SPACE', '/book', class: "bg-blue-400 text-white px-3 py-2" %>
      </a>
    </nav>
  </div>
</div>
<div class="absolute bg-blue-400 mx-3 w-80 sm:w-96 mt-72 sm:mt-60 sm:ml-16 md:ml-24 text-white px-10 py-12">
  <div class="text-4xl sm:text-5xl font-extrabold">
    Plan your next <span id="changing_event" class="font-normal">wedding</span>
  </div>
</div >
</header>
