<div class=" flex flex-row justify-between pt-6 mx-10 ">
  <a href=<%= root_path%>>
    <div class=""> Pentridge Station</div>
  </a>
  <%# <nav class=""> %>
  <%#  
      <a href="" class="nav-item"> HOME </a>
      <a href="" class="nav-item"> ABOUT </a>
      <a href="" class="nav-item"> CONTACT </a>
      <a href="" class="nav-item"> PRESS </a>
      <a href="" class="nav-item"> PARTNERS </a>
      <a href="" class="nav-item"> %>
  <%= link_to "RENT SPACE", '/book', class: "w-auto bg-blue-400 text-white px-3 py-2" %>
  <%# </a> %>
  <%# </nav> %>
</div>
