<div class="border flex flex-col sm:flex-row justify-center py-2 w-full bg-gradient-to-r from-transparent via-white to-transparent italic text-red-500 text-center"> 
<p >Beer garden reopens June 2022. </p>
<p class="sm:ml-1">Event space still available for rent.</p>
</div>