<div class="border flex flex-col sm:flex-row justify-center py-2 w-full italic font-semibold text-red-500 text-center"> 
<p>Event space available for rent.</p>
<p  class="sm:ml-1">Beer garden reopens June 2022. </p>
</div>