<div class="font-bold ml-5 text-3xl lg:mx-24 mt-40 lg:text-5xl">
    Lot purchased in West Philadelphia
</div>

<div class="mt-7 leading-6 ml-5 font-thin mr-8 lg:mx-24 lg:pr-20">
    It is a long-established fact that a reader will be distracted by the content of a site's text while looking at its design. The point of using Lorem Ipsum is that it has a more or less normal distribution of the letters, as opposed to using texts such as "Content here, content here". These texts make it look like Spanish that can be read. Many desktop publishing packages and web page editors use Lorem Ipsum as their default text, and doing a search for "Lorem Ipsum" will return many websites that use this text if they are under development. Many versions have evolved over the years, sometimes by accident, sometimes on purpose (for example, inserting humor and the like). It is a long-established fact that a reader will be distracted by the content of a site's text while looking at its design. The point of using Lorem Ipsum is that it has a more or less normal distribution of the letters, as opposed to using texts such as "Content here, content here". These texts make it look like Spanish that can be read.
</div>