<div class="md:order-2 flex w-full justify-center">
  <div class="my-6 md:mt-40 bg-teal-lighter w-full sm:w-5/6 h-60 sm:h-96 lg:w-96 lg:px-60 bg-cover bg-center md:sticky md:top-40"
       style="background-image: url(<%= get_photo_url(:photo)%>)" >
  </div>
</div>
