<div class="rounded-full h-5 w-5 ml-40 flex items-center justify-center bg-black"></div>
<div class="bg-black h-24 w-2 ml-40"></div>
<div class="rounded-full h-5 w-5 mt-20 ml-40 flex items-center justify-center bg-black"></div>
<div class="rounded-full h-5 w-5 mt-20 ml-40 flex items-center justify-center bg-black"></div>
<div class="rounded-full h-5 w-5 mt-20 ml-40 flex items-center justify-center bg-black"></div>

