<div class="flex"> 
    <div>
        <div class="font-bold text-lg mt-28 pl-48">
            2017-2018
        </div>
        <p class="text-2xl px-48">
            Lot purchased in West Philadelphia
        </p>
        <details>
            <summary class="pl-56 text-lg font-bold mt-3"></summary>
            <p class="text-xs pl-48 mt-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum  </p>
        </details>
        
        <div class="font-bold text-lg mt-5 pl-48">
            2019
        </div> 
        <p class="text-2xl px-48">
            Lot purchased in West Philadelphia
         </p>
        <details>
            <summary class="pl-56 text-lg font-bold mt-3"></summary>
            <p class="text-xs pl-48 mt-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
        </details>

    <div class="font-bold text-lg mt-5 pl-48">
        2019
    </div>
    <p class="text-2xl px-48">
        Lot purchased in West Philadelphia
        </p>
        <details>
            <summary class="pl-56 text-lg font-bold mt-3"></summary>
            <p class="text-xs pl-48 mt-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
    </details>

    <div class="font-bold text-lg mt-5 pl-48">
        2019
    </div>
        <p class="mt-2 text-2xl px-48">
        Lot purchased in West Philadelphia
         </p>
         <details>
            <summary class="pl-56 text-lg font-bold mt-3"></summary>
            <p class="text-xs pl-48 mt-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
        </details>
    </div>
    <img class="self-center ml-24 mr-36" src="https://via.placeholder.com/350">
</div>

