<h4 class="font-bold my-4 text-xl">About the Space</h4>
<p class="text-lg">Lorem ipsum dolor sit amet, consectetur 
  adipiscing elit, sed do eiusmod tempor incididunt ut labore 
  et dolore magna aliqua. Pellentesque id nibh tortor id aliquet.
  Felis eget nunc lobortis mattis aliquam faucibus. Feugiat nibh
  sed pulvinar proin. Justo nec ultrices dui sapien eget mi 
  proin sed libero.Mi ipsum faucibus vitae aliquet nec 
  ullamcorper sit amet. Quis hendrerit dolor magna eget est 
  lorem ipsum dolor sit. Iaculis nunc sed augue lacus. Faucibus 
  nisl tincidunt eget nullam non nisi est sit amet. </p>
<div class="my-4">
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Cleaning Protocol
    </summary>
    <p class="ml-10 mt-4">Another message in here that explains the details of the description above this!
    </p>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Parking
    </summary>
    <p class="ml-10 mt-4">Another message in here !
    </p>
  </details>
  <details class="border-t border-gray-400 py-4">
    <summary class="cursor-pointer text-lg" >
      Host Rules
    </summary>
    <p class="ml-10 mt-4">Another message in here !
    </p>
  </details>
</div>
<h4 class="font-bold my-4 text-xl">Amenities</h4>
<div class="my-4 flex flex-wrap justify-between">
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
  <div class="flex w-32 mr-5 my-2">
    <img src="" alt="" class="w-12">
    <p>10xTables</p>
  </div>
</div>
<button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button>
<h4 class="font-bold my-8 text-xl">About the Location</h4>
<div id="map" class="w-auto h-96 mb-8 z-0" public-api-key= <%=ENV['mapbox_public_api_key']%>></div>
<p class="text-lg">
  Lorem ipsum dolor sit amet, consectetur 
  adipiscing elit, sed do eiusmod tempor incididunt ut labore 
  et dolore magna aliqua. Pellentesque id nibh tortor id aliquet.
  Felis eget nunc lobortis mattis aliquam faucibus. Feugiat nibh
  sed pulvinar proin. Justo nec ultrices dui sapien eget mi 
  proin sed libero.Mi ipsum faucibus vitae aliquet nec 
  ullamcorper sit amet. Quis hendrerit dolor magna eget est 
  lorem ipsum dolor sit. Iaculis nunc sed augue lacus.
</p>
<h4 class="font-bold my-8 text-xl">Hear from Guests</h4>
<div class="flex flex-wrap justify-between items-center">
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
  <div class="w-auto sm:w-64 mr-3 lg:mr-8 mb-8">
    <div class="flex mb-3">
      <img src="" alt="" class="w-16 h-16 mr-3">
      <div>
        <p class="font-bold text-lg">
          Jim</p>
        <div>Party for 32</div>
      </div>
    </div>
    <p class="text-gray-600">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque id nibh tortor id aliquet."</p>
  </div>
</div>
<button class="border-2 border-gray-600 px-10 py-1">SEE ALL</button>
