<div alert=<%= flash[:alert] ? 'true' : 'false' %> 
  id="event_form_screen" 
  class="flex fixed z-50 w-full h-full top-0 left-0 bg-opacity-80 bg-gray-700 justify-center">
  <div id="event_form_container" class="bg-white bg-opacity-95 self-center w-11/12 sm:w-5/6 h-11/12 flex flex-col md:flex-row overflow-auto">
    <div class="md:w-2/3 z-10 ">
      <%= render 'form'%>
    </div>
    <div class="md:w-1/3 z-0">
      <%=render 'price_tool'%>
    </div>
  </div>
</div>
