<div alert=<%= flash[:alert] ? 'true' : 'false' %> id="event_form_screen" class="hidden fixed w-full h-full top-0 left-0 bg-opacity-70 bg-gray-800 justify-center">
  <div id="event_form_container" class="bg-white bg-opacity-90 w-11/12 h-5/6 self-center flex ">
    <div class="w-1/2 ">
      <%= render 'form'%>
    </div>
    <div class="w-1/2 ">
      asdfasdf    </div>
  </div>
</div>
