<%# <div id="temp_event_form_container" class= "w-full bg-blue-400 sm:sticky sm:top-16 mt-36 sm:mt-16 flex justify-center"> %>
<div class="sm:w-80 sm:sticky sm:top-16 mx-3 mt-36 sm:mt-16 border border-gray-300 flex flex-col items-center py-8">
  <%= render 'temp_form'%>
</div>
<%# </div> %>
