<div class="mb-3">
  <div class="flex " >
    <%= render 'shared/toggle_button',
                name: 'event_alcohol',
                input: (f.check_box :alcohol,
                            id: 'event_alcohol',
                            class: 'sr-only',
                            checked: '',
                            click_again: (!@event.alcohol.nil? && 
                                            @event.alcohol?) ? 'true' : 'false')
                             %>
    <p class="ml-2 mb-2">There will <span class="semibold" id= 'event_alcohol_text'>NOT</span> be alcohol at my event.</p>
  </div>
  <%# click_again: (!@event.open_bar.nil? && 
                                            @event.open_bar?) ? 'true' : 'false') %>
  <div class="ml-20 hidden" id="open_bar_toggle_section">
    <div class="flex" >
      <%= f.check_box :open_bar,
                            id: 'event_open_bar',
                            class: 'w-4',
                            checked: ''
                             %>
      <p class="ml-2 mb-2">Pentridge Station will provide an open bar.</p>
    </div>
    <div class="flex" >
      <%= check_box_tag 'event_byob',
                            '',
                            true,
                            class: 'w-4'
                             %>
      <p class="ml-2 mb-2">I will bring my own alcohol, and Pentridge Station will provide a BART certified bartender.</p>
    </div>
  </div>
</div>
