<div>Your booking</div>
<div>Date & Time</div>
<div><span id='info_date'>April 15th</span> | <span id='info_start_time'>8PM</span> to <span id='info_end_time'>10PM</span></div>
<div>Type</div>
<div id="info_event_type">Wedding</div>
