<div class=<%=@event.errors.any? ? 'hidden text-gray-600' : 'inline text-gray-600'%>>
  <p class="hidden sm:inline-flex font-bold text-lg mb-3">Event Details</p>
  <div class="flex justify-between ">
    <p class=" font-semibold">Date & Time</p>
    <button id="edit_event_date" class="font-semibold underline">Edit</button>
  </div>
  <p class='my-2 font-light'><span id='info_date'>April 15th</span> | <span id='info_start_time'>8PM</span> to <span id='info_end_time'>10PM</span></p>
  <div class="flex justify-between">
    <p class="font-semibold">Type & Attendees</p>
    <button id="edit_event_type" class="font-semibold underline">Edit</button>
  </div>
  <p class="mt-2 mb-3 font-light"><span id="info_event_type">Wedding</span> | <span id="info_num_attendees">15</span> guests</p>
</div>
