%li.nav-item
  = active_link_to 'Contacts', admin_contacts_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Messages', admin_messages_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Partners', admin_partners_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Events', admin_events_path, class: 'nav-link'
