@import "tailwindcss/components";
@layer components {
  .square-photo {
    object-fit: cover;
  }
  .square {
    width: 100%;
    height: 0;
    padding-top: 79%;
  }
  .vertical-lr {
    writing-mode: vertical-lr;
  }

  .temp-form-style {
    @apply border w-full border-gray-300 text-gray-600;
  }
  .underlined-form-style {
    @apply border-0 border-b border-white border-opacity-30;
  }
  input:checked ~ .dot {
    transform: translateX(135%);
    @apply bg-green-500;
  }
  .h-11\/12 {
    height: 91.6666666667%;
  }
  details summary > * {
    display: inline;
  }

  #bus-photo {
    -webkit-clip-path: polygon(0% 0%, 100% 29%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 29%, 100% 100%, 0% 100%);
  }
  #quote-cut-corner-medium {
    -webkit-clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 60%, 100% 0%, 100% 100%, 0% 100%);
  }
  #quote-cut-corner-small {
    -webkit-clip-path: polygon(0% 90%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 90%, 100% 0%, 100% 100%, 0% 100%);
  }
  #schoolbus-cut-detail {
    -webkit-clip-path: polygon(0% 70%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 70%, 100% 0%, 100% 100%, 0% 100%);
  }
  .press-screen {
    @apply w-full h-full bg-black bg-opacity-0 transition duration-1000 hover:bg-opacity-60 flex justify-center;
  }
  .press-text-container {
    @apply opacity-0 group-hover:opacity-100 text-white flex flex-col justify-center;
  }
  .press-header {
    @apply text-2xl font-bold self-center text-center;
  }
  .press-line {
    @apply h-1 w-12 my-3 bg-teal-figma self-center;
  }
  .press-quote {
    @apply w-2/3 italic text-lg self-center text-center;
  }

  #navbar-details > summary {
    list-style: none;
  }
  #navbar-details > summary::marker {
    display: none;
  }
  #navbar-details ::-webkit-details-marker {
    display: none;
  }

  details > summary {
    @apply outline-none;
  }

  .bg-popup-gray {
    background-color: rgba(247, 248, 248, var(--tw-bg-opacity));
  }

  .tool-tip::after {
    content: "";
    margin-top: -5px;
    border-color: transparent transparent
      rgba(247, 248, 248, var(--tw-bg-opacity)) transparent;
    @apply top-0 left-6 absolute border-solid border-8;
  }
  .line-item-text {
    @apply font-light relative inline-block group text-lg;
  }

  .line-item {
    @apply flex relative justify-between mb-1;
  }

  .line-item-text:hover ~ .line-item-target {
    display: block;
  }

  .question-mark:hover ~ .question-mark-info {
    display: block;
  }

  .partners-index-panel {
    @apply h-96 sm:w-1/2 sm:mr-4 mb-8 sm:mb-0 flex group relative;
  }
  .partner-panel {
    @apply w-5/12 md:w-72 mb-8 cursor-pointer h-52 relative bg-center bg-cover;
  }
  .transparent-button-transition {
    @apply transition duration-1000 hover:border-opacity-0 hover:underline;
  }
  .navbar-hover {
    @apply hover:text-teal-darker transition-colors duration-200;
  }
  .bigger-icon {
    @apply w-6 fill-current stroke-current text-gray-700;
  }
  .beer-icon {
    @apply w-4 fill-current stroke-current text-gray-700;
  }

  .text-shadow {
    text-shadow: 0px 0px 1px #003d42;
  }

  #grid-paragraph p + p {
    @apply mt-2;
  }

  .carousel-open:checked + .carousel-item {
    position: static;
    display: block;
  }
  .carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    z-index: 0;
    transition: opacity 0.6s ease-out;
  }
  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3,
  #carousel-4:checked ~ .control-4,
  #carousel-5:checked ~ .control-5 {
    display: block;
  }
  .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  #carousel-1:checked
    ~ .control-1
    ~ .carousel-indicators
    li:nth-child(1)
    .carousel-bullet,
  #carousel-2:checked
    ~ .control-2
    ~ .carousel-indicators
    li:nth-child(2)
    .carousel-bullet,
  #carousel-3:checked
    ~ .control-3
    ~ .carousel-indicators
    li:nth-child(3)
    .carousel-bullet,
  #carousel-4:checked
    ~ .control-4
    ~ .carousel-indicators
    li:nth-child(4)
    .carousel-bullet,
  #carousel-5:checked
    ~ .control-5
    ~ .carousel-indicators
    li:nth-child(5)
    .carousel-bullet {
    color: #00b7c4; /*Set to match the Tailwind colour you want the active one to be */
  }
  .prev {
    @apply w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-teal-figma leading-tight text-center z-10 inset-y-0 left-0 my-auto;
  }
  .next {
    @apply w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-teal-figma leading-tight text-center z-10 inset-y-0 right-0 my-auto;
  }
  .press-medium-container {
    @apply bg-teal-darkest h-72 hidden md:inline bg-center bg-cover cursor-pointer;
  }
  .article-1-quote-width {
    @apply md:w-1/2 lg:w-5/12;
  }
}
