<div class="flex flex-col justify-center">
  <div class="bg-teal-backup square relative bg-local bg-center bg-cover" 
    style=  "background-image: url(<%= get_photo_url(:gridTwoPhoto)%>)">
  </div>
</div>
