<div class="flex flex-col justify-between">
  <div class="font-bold mt-2">OUR STORY</div>
  <div class="font-semibold text-4xl">Good food, good drinks, and good people</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <button class="bg-blue-400 text-white w-44 py-3 text-xs mb-2">LEARN MORE</button>
</div>
