<div id="article-1"
    class="col-span-11 md:col-span-7 bg-teal-darkest bg-center bg-cover cursor-pointer" 
      style=  "background-image: url(<%= get_photo_url(:articleOnePhoto)%>)" %>
  <a <%=get_article_href(:articleOneLink) %>>
    <div class="press-screen group">
      <div class="press-text-container">
        <h5 class="press-header">
          <%=get_text_content(:articleOnePublisher, 'Article One Publisher')%>
        </h5>
        <div class="press-line"></div>
        <p class="press-quote md:w-1/2 lg:w-5/12">
          <%=get_text_content(:articleOnePublisher, 'A headline or quote from article one to build social proof.')%>
        </p>
      </div>
    </div>
  </a>
</div>
