<div id="article-5" 
    class="col-span-11 md:col-span-6 bg-blue-600 h-72 hidden md:inline bg-center bg-cover" 
      style=  "background-image: url(<%= get_photo_url(:titlePhoto)%>)">
  <div class="press-screen group">
    <div class="press-text-container">
      <h5 class="press-header">
        Philadelphia Eater
      </h5>
      <div class="press-line"></div>
      <p class="press-quote lg:w-1/2">
        How to open a Philly beer garden without pissing off the neighbors 
      </p>
    </div>
  </div>
</div>
