<div id="article-1"
    class="col-span-11 md:col-span-7 bg-teal-darkest bg-center bg-cover" 
      style=  "background-image: url(<%= get_photo_url(:titlePhoto)%>)" %>
  <div class="press-screen group">
    <div class="press-text-container">
      <h5 class="press-header">
        Philadelphia Eater
      </h5>
      <div class="press-line"></div>
      <p class="press-quote md:w-1/2 lg:w-5/12">
        How to open a Philly beer garden without pissing off the neighbors 
      </p>
    </div>
  </div>
</div>
