<div class="col-span-4 bg-blue-600 hidden md:inline h-72 bg-center bg-cover" 
      style=  "background-image: url(<%= get_photo_url(:titlePhoto)%>)">
  <div class="press-screen group">
    <div class="press-text-container">
      <h5 class="press-header">
        Philadelphia Eater
      </h5>
      <div class="press-line"></div>
      <p class="press-quote">
        How to open a Philly beer garden without pissing off the neighbors 
      </p>
    </div>
  </div>
</div>
