<div class="col-span-11 md:hidden carousel relative pl-1">
	<div class="carousel-inner relative overflow-hidden w-full">
      <% (1..5).each do |num| %>
        <% numEnglish = get_english_word(num) %>
        <%= render 'pages/home/press/slide',
        currSlide: num,
        nextSlide: get_next_slide(num, 5),
        prevSlide: get_prev_slide(num, 5),
        photo: "article#{numEnglish}Photo",
        link: "article#{numEnglish}Link",
        publisher: "article#{numEnglish}Publisher",
        headline: "article#{numEnglish}Headline" %>
      <% end %>	
        <!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-teal-figma">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-teal-figma">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-teal-figma">•</label>
			</li>
            <li class="inline-block mr-3">
				<label for="carousel-4" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-teal-figma">•</label>
			</li>
        	<li class="inline-block mr-3">
				<label for="carousel-5" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-teal-figma">•</label>
			</li>
       
		</ol>
		
	</div>
</div>